*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: italic 1.2em "Fira Sans", serif;
}
body{position: relative;
    background-image: url(https://i.pinimg.com/564x/a3/01/9d/a3019db4afd43edac3c77f37589d30a5.jpg);
    background-size: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    max-width: 100%;
}
.home{
    position: absolute;
    left: 50%;
    top: 500%;
    transform: translateX(-50%);
    max-width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.form_login{
    box-shadow: 2px 3px 17px 19px rgba(0, 0, 0, 0.815);
    border-radius: 12px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.521);
    width: 500px;

}
.form_login h1{
    color: white;
    font-weight: bolder;
    margin-top: 14%;
    font-size: 32px;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.form_login input{
    color: white;
    transition: all 0.5s ease-in-out;
    outline: none;
   border: none;
   border-bottom: 1px solid black;
    margin-top: 40px;
    background-color: rgba(240, 248, 255, 0);
    font-size: 22px;
    width: 80%;
}
.form_login > div{
    position: relative;
}
.form_login label{
    transition: all 0.5s ease-in-out;
    color: gray;
    font-size: 24px;
    position: absolute;
    bottom: 5px;
    left: 11%;
}
.form_login input:focus{
    border-bottom: 3px solid rgb(253, 253, 253) ;
}
#email:not(:placeholder-shown) + .login_label,
#email:focus + .login_label{
    color: rgb(255, 255, 255);
    bottom: 35px;
    font-weight: bolder;
}
#password:not(:placeholder-shown) + .password_label,
#password:focus + .password_label{
    color: rgb(255, 255, 255);
    bottom: 35px;
    font-weight: bolder;
}
.form_login a{
    display: block;
    font-size: 18px;
    font-weight: bolder;
    margin: 10px 0px 20px 0px;
}
.form_login a:hover{
    color: red;
}
button{
    margin-bottom: 50px ;
    margin-top: 20px;
    border: none;
    width: 50%;
    padding: 12px;
    font-size: 22px;
    background: linear-gradient(black,rgb(160, 159, 159));
    color: white;
    border-radius: 12px;
    cursor: pointer;
}
button:hover{
    transition: all 0.3s ease-in-out;
    font-weight: bolder;
    border: none;
    color: black;
    background:linear-gradient(rgba(250, 250, 250, 0.548),rgb(186, 186, 187));
    box-shadow:  0px 7px 29px 0px rgba(100, 100, 111, 0.527);
}
.nav a{
    font-size: 50px;
    color: white;
    margin: 5px;
    font-weight: bolder;
}
.nav{
    max-width: 100%;
}
.nav a:hover{
    transform: scale(1.2);
}
.checkbox_container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.checkbox_container div{
    position: relative;
}
.checkbox_container div label{
    color: rgb(255, 254, 254);
    left: 20px;
}
.checkbox_container div input{
    width: 24px;
}